<!-- <div class="home flex align-items-center justify-content-between">
  <div class="p-8">
    <div>
      <img src="../../../assets/davi-logo.png" alt="" width="400px" />
    </div>
    <div>
      <p style="color: white; font-size: 1.5rem">LOGIN APP</p>
      <p style="color: white">
        Success is not final. Failure is not fatal. <br />
        It is the courage to continue that counts
      </p>
    </div>
  </div>
</div> -->

<div class="home">
  <div
    class="p-8 flex flex-column justify-content-around"
    style="position: absolute; height: 100%"
  >
    <div>
      <p style="color: white; font-size: 1.5rem">LOGIN APP</p>
      <p style="color: white">
        Success is not final. Failure is not fatal. <br />
        It is the courage to continue that counts
      </p>
    </div>
    <div>
      <img src="../../../assets/davi-logo.png" alt="" width="400px" />
    </div>
  </div>
  <div style="position: relative">
    <img src="../../../assets/2.png" alt="" height="800px" />
  </div>
</div>
