<div class="forgot-password">
  <div class="modal-body grid align-items-center justify-content-center">
    <div class="img col flex justify-content-center align-items-center">
      <p-image
        src="../../../../../../assets/forgot-password.jpg"
        alt="Image"
        width="250px"
        height="250px"
      ></p-image>
    </div>
    <div
      class="col flex flex-column justify-content-center align-items-start gap-4"
    >
      <h4>Please fill the field below with your e-mail</h4>
      <div [formGroup]="forgotPasswordForm">
        <h5>E-mail</h5>
        <span class="p-input-icon-right">
          <i class="pi pi-envelope"></i>
          <input type="text" pInputText formControlName="email" autofocus />
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer flex justify-content-end">
    <button
      icon="pi pi-send"
      pButton
      pRipple
      type="button"
      label="Send"
      class="p-button-rounded p-button-help change-button-color"
      (click)="handleSendClick()"
    ></button>
  </div>
</div>
